In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("Dining_Listup_Kakao.csv")

In [12]:
df.rename({'Unnamed: 0': 'dining_id'},axis=1)

,dining_id,total_name,category,addr,source
0,0,카덴 연희본점,일식,\n서울 서대문구 연희로 173 거화빌딩 1층\n(지번) 연희동 81-1\n,카카오
1,1,앤트러사이트 연희점,커피전문점,\n서울 서대문구 연희로 135\n(지번) 연희동 89-19\n,카카오
2,2,목란,중식,\n서울 서대문구 연희로15길 21\n(지번) 연희동 132-28\n,카카오
3,3,콘하스 연희점,카페,\n서울 서대문구 연희로27길 99\n(지번) 연희동 90-1\n,카카오
4,4,연경 연희점,중화요리,\n서울 서대문구 연희로 145\n(지번) 연희동 86-15\n,카카오
...,...,...,...,...,...
495,495,연남서식당,갈비,\n서울 마포구 백범로2길 32\n(지번) 노고산동 109-69\n,카카오
496,496,긴자료코 이대점,일식,\n서울 서대문구 이화여대5길 28 1층\n(지번) 대현동 37-69\n,카카오
497,497,비아메렝게,"멕시칸,브라질",\n서울 서대문구 명물길 27-18 1층\n(지번) 창천동 45-9\n,카카오
498,498,포티드,카페,\n서울 서대문구 명물길 36-3 1층\n(지번) 창천동 5-58\n,카카오
499,499,디델리 이대점,분식,\n서울 서대문구 이화여대7길 16 2층\n(지번) 대현동 56-68\n,카카오

In [14]:
df.head(20)

,Unnamed: 0,total_name,category,addr,source
0,0,카덴 연희본점,일식,\n서울 서대문구 연희로 173 거화빌딩 1층\n(지번) 연희동 81-1\n,카카오
1,1,앤트러사이트 연희점,커피전문점,\n서울 서대문구 연희로 135\n(지번) 연희동 89-19\n,카카오
2,2,목란,중식,\n서울 서대문구 연희로15길 21\n(지번) 연희동 132-28\n,카카오
3,3,콘하스 연희점,카페,\n서울 서대문구 연희로27길 99\n(지번) 연희동 90-1\n,카카오
4,4,연경 연희점,중화요리,\n서울 서대문구 연희로 145\n(지번) 연희동 86-15\n,카카오
5,5,피터팬1978 본점,"제과,베이커리",\n서울 서대문구 증가로 10 연궁빌딩 1층\n(지번) 연희동 90-5\n,카카오
6,6,수빈,한정식,\n서울 서대문구 연희로25길 31-3\n(지번) 연희동 81-23\n,카카오
7,7,연희동칼국수 본점,국수,\n서울 서대문구 연희맛로 37\n(지번) 연희동 132-29\n,카카오
8,8,고미정,한정식,\n서울 서대문구 연희로26길 24\n(지번) 연희동 79-4\n,카카오
9,9,재인,"제과,베이커리",\n서울 서대문구 연희로25길 72 1층\n(지번) 연희동 85-17\n,카카오
10,10,매뉴팩트커피 연희본점,카페,\n서울 서대문구 연희로11길 29\n(지번) 연희동 130-2\n,카카오
11,11,라이라이,중식,\n서울 서대문구 연희로15길 27\n(지번) 연희동 132-27\n,카카오
12,12,시오 연희본점,일식집,\n서울 서대문구 연희로11가길 23 1층\n(지번) 연희동 190-4\n,카카오
13,13,로덴드론,커피전문점,\n서울 서대문구 연희로25길 82\n(지번) 연희동 90-8\n,카카오
14,14,녹원쌈밥,쌈밥,\n서울 서대문구 연희로25길 22\n(지번) 연희동 82-3\n,카카오
15,15,조은집,한정식,\n서울 서대문구 연희맛로 43\n(지번) 연희동 133-24\n,카카오
16,16,스타벅스 연희DT점,커피전문점,\n서울 서대문구 연희로 144\n(지번) 연희동 87-8\n,카카오
17,17,폴앤폴리나 연희동점,"제과,베이커리",\n서울 서대문구 연희로11길 56 1층\n(지번) 연희동 125-7\n,카카오
18,18,스웨이커피스테이션,카페,\n서울 서대문구 연희로11길 61\n(지번) 연희동 126-1\n,카카오
19,19,작은스페인,양식,\n서울 서대문구 연희로25길 37 1층\n(지번) 연희동 81-27\n,카카오

In [15]:
df.to_csv("dining_listup_kakao2.csv", index=False, encoding = "utf-8-sig")

In [17]:
df[df.duplicated(['total_name'])]

,Unnamed: 0,total_name,category,addr,source
463,463,미스터서왕만두,분식,\n서울 서대문구 명물길 59 1층\n(지번) 창천동 9-26\n,카카오

In [18]:
df[df['total_name'] == '미스터서왕만두']

,Unnamed: 0,total_name,category,addr,source
150,150,미스터서왕만두,분식,\n서울 서대문구 신촌역로 16\n(지번) 대현동 27-20\n,카카오
463,463,미스터서왕만두,분식,\n서울 서대문구 명물길 59 1층\n(지번) 창천동 9-26\n,카카오

In [29]:
def make_dining_name(total_name) :
    dining_name = ""
    total_list = total_name.split(" ")
    if '점' in total_list[-1] :
        for data in total_list[:-1]:
            dining_name += data
        return dining_name
    else :
        return total_name

In [33]:
def make_branch_name(total_name) :
    branch_name = ""
    total_list = total_name.split(" ")
    if '점' in total_list[-1] :
        branch_name = total_list[-1]
    
    return branch_name

In [30]:
df['dining_name'] = df.total_name.map(lambda x : make_dining_name(x))

In [34]:
df['branch_name'] = df.total_name.map(lambda x : make_branch_name(x))

In [45]:
df = df.rename({"Unnamed: 0" : "dining_id"}, axis=1)

In [50]:
df = df[['dining_id','total_name','dining_name','branch_name','category','addr','source']]

In [60]:
df[df.duplicated(['total_name'])]

,dining_id,total_name,dining_name,branch_name,category,addr,source
463,463,미스터서왕만두,미스터서왕만두,,분식,\n서울 서대문구 명물길 59 1층\n(지번) 창천동 9-26\n,카카오

In [54]:
df[df.duplicated(['dining_name'])]

,dining_id,total_name,dining_name,branch_name,category,addr,source
74,74,스타벅스 연희동점,스타벅스,연희동점,커피전문점,\n서울 서대문구 연희로 97\n(지번) 연희동 188-2\n,카카오
98,98,스타벅스 연세백양로점,스타벅스,연세백양로점,커피전문점,\n서울 서대문구 연세로 50 지하1층\n(지번) 신촌동 134\n,카카오
127,127,테일러커피 연남2호점,테일러커피,연남2호점,커피전문점,"\n서울 마포구 성미산로 187 1층, 2층\n(지번) 연남동 224-57\n",카카오
132,132,스타벅스 연대동문점,스타벅스,연대동문점,커피전문점,\n서울 서대문구 성산로 565 연세재단 Y빌딩\n(지번) 대신동 115\n,카카오
158,158,스타벅스 연세종합관점,스타벅스,연세종합관점,커피전문점,\n서울 서대문구 연세로 50-1 연세세브란스 종합관\n(지번) 대신동 5\n,카카오
261,261,연경,연경,,중화요리,\n서울 서대문구 연세로11길 25\n(지번) 창천동 52-157\n,카카오
304,304,스타벅스 이대R점,스타벅스,이대R점,커피전문점,\n서울 서대문구 이화여대길 34\n(지번) 대현동 54-4\n,카카오
331,331,명륜진사갈비 연희점,명륜진사갈비,연희점,갈비,\n서울 서대문구 성산로 325 동신빌딩 1층\n(지번) 연희동 421-33\n,카카오
375,375,미분당 신촌2호점,미분당,신촌2호점,베트남음식,\n서울 서대문구 연세로5길 26-7\n(지번) 창천동 62-9\n,카카오
395,395,파리바게뜨 연희안산점,파리바게뜨,연희안산점,"제과,베이커리",\n서울 서대문구 연희로 198\n(지번) 연희동 138-67\n,카카오
431,431,스타벅스 신촌점,스타벅스,신촌점,커피전문점,"\n서울 서대문구 연세로 10-1 즐거운빌딩 1,2,3층\n(지번) 창천동 18-55\n",카카오
459,459,배스킨라빈스 CAFE31신촌점,배스킨라빈스,CAFE31신촌점,아이스크림,\n서울 서대문구 명물길 38\n(지번) 창천동 5-55\n,카카오
463,463,미스터서왕만두,미스터서왕만두,,분식,\n서울 서대문구 명물길 59 1층\n(지번) 창천동 9-26\n,카카오
469,469,하노이의아침 이대점,하노이의아침,이대점,동남아음식,\n서울 서대문구 연대동문길 45 명민빌딩 3층\n(지번) 대신동 84-1\n,카카오
474,474,히메지 1호점,히메지,1호점,일식,\n서울 마포구 성미산로 198\n(지번) 연남동 227-15\n,카카오
479,479,스타벅스 신촌명물거리점,스타벅스,신촌명물거리점,커피전문점,\n서울 서대문구 명물길 24 1~5층\n(지번) 창천동 13-19\n,카카오
489,489,파리바게뜨 연세대학교점,파리바게뜨,연세대학교점,"제과,베이커리",\n서울 서대문구 연세로 50 백양누리 지하1층\n(지번) 신촌동 134\n,카카오
496,496,긴자료코 이대점,긴자료코,이대점,일식,\n서울 서대문구 이화여대5길 28 1층\n(지번) 대현동 37-69\n,카카오

In [67]:
df.drop(df[df['dining_name'] == '스타벅스'].index, inplace=True)

/Users/pdh/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [70]:
df.drop(df[df['dining_name'] == '테일러커피'].index, inplace=True)

/Users/pdh/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [71]:
df.drop(df[df['dining_name'] == '파리바게뜨'].index, inplace=True)

In [74]:
df.drop(df[df['dining_name'] == '배스킨라빈스'].index, inplace=True)

/Users/pdh/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [73]:
df[df['dining_name'] == '파리바게뜨']

Empty DataFrame
Columns: [dining_id, total_name, dining_name, branch_name, category, addr, source]
Index: []

In [75]:
df[df.duplicated(['dining_name'])]

,dining_id,total_name,dining_name,branch_name,category,addr,source
261,261,연경,연경,,중화요리,\n서울 서대문구 연세로11길 25\n(지번) 창천동 52-157\n,카카오
331,331,명륜진사갈비 연희점,명륜진사갈비,연희점,갈비,\n서울 서대문구 성산로 325 동신빌딩 1층\n(지번) 연희동 421-33\n,카카오
375,375,미분당 신촌2호점,미분당,신촌2호점,베트남음식,\n서울 서대문구 연세로5길 26-7\n(지번) 창천동 62-9\n,카카오
463,463,미스터서왕만두,미스터서왕만두,,분식,\n서울 서대문구 명물길 59 1층\n(지번) 창천동 9-26\n,카카오
469,469,하노이의아침 이대점,하노이의아침,이대점,동남아음식,\n서울 서대문구 연대동문길 45 명민빌딩 3층\n(지번) 대신동 84-1\n,카카오
474,474,히메지 1호점,히메지,1호점,일식,\n서울 마포구 성미산로 198\n(지번) 연남동 227-15\n,카카오
496,496,긴자료코 이대점,긴자료코,이대점,일식,\n서울 서대문구 이화여대5길 28 1층\n(지번) 대현동 37-69\n,카카오

In [77]:
df = df.drop_duplicates(['dining_name'], keep='first')

In [79]:
df[df.duplicated(['dining_name'])]

Empty DataFrame
Columns: [dining_id, total_name, dining_name, branch_name, category, addr, source]
Index: []

In [80]:
df

,dining_id,total_name,dining_name,branch_name,category,addr,source
0,0,카덴 연희본점,카덴,연희본점,일식,\n서울 서대문구 연희로 173 거화빌딩 1층\n(지번) 연희동 81-1\n,카카오
1,1,앤트러사이트 연희점,앤트러사이트,연희점,커피전문점,\n서울 서대문구 연희로 135\n(지번) 연희동 89-19\n,카카오
2,2,목란,목란,,중식,\n서울 서대문구 연희로15길 21\n(지번) 연희동 132-28\n,카카오
3,3,콘하스 연희점,콘하스,연희점,카페,\n서울 서대문구 연희로27길 99\n(지번) 연희동 90-1\n,카카오
4,4,연경 연희점,연경,연희점,중화요리,\n서울 서대문구 연희로 145\n(지번) 연희동 86-15\n,카카오
...,...,...,...,...,...,...,...
494,494,히우카우,히우카우,,태국음식,\n서울 서대문구 연세로4길 61 1층\n(지번) 창천동 5-32\n,카카오
495,495,연남서식당,연남서식당,,갈비,\n서울 마포구 백범로2길 32\n(지번) 노고산동 109-69\n,카카오
497,497,비아메렝게,비아메렝게,,"멕시칸,브라질",\n서울 서대문구 명물길 27-18 1층\n(지번) 창천동 45-9\n,카카오
498,498,포티드,포티드,,카페,\n서울 서대문구 명물길 36-3 1층\n(지번) 창천동 5-58\n,카카오
499,499,디델리 이대점,디델리,이대점,분식,\n서울 서대문구 이화여대7길 16 2층\n(지번) 대현동 56-68\n,카카오

In [81]:
df.to_csv("dining_listup_kakao2.csv", index=False, encoding = "utf-8-sig")

In [82]:
df

,dining_id,total_name,dining_name,branch_name,category,addr,source
0,0,카덴 연희본점,카덴,연희본점,일식,\n서울 서대문구 연희로 173 거화빌딩 1층\n(지번) 연희동 81-1\n,카카오
1,1,앤트러사이트 연희점,앤트러사이트,연희점,커피전문점,\n서울 서대문구 연희로 135\n(지번) 연희동 89-19\n,카카오
2,2,목란,목란,,중식,\n서울 서대문구 연희로15길 21\n(지번) 연희동 132-28\n,카카오
3,3,콘하스 연희점,콘하스,연희점,카페,\n서울 서대문구 연희로27길 99\n(지번) 연희동 90-1\n,카카오
4,4,연경 연희점,연경,연희점,중화요리,\n서울 서대문구 연희로 145\n(지번) 연희동 86-15\n,카카오
...,...,...,...,...,...,...,...
494,494,히우카우,히우카우,,태국음식,\n서울 서대문구 연세로4길 61 1층\n(지번) 창천동 5-32\n,카카오
495,495,연남서식당,연남서식당,,갈비,\n서울 마포구 백범로2길 32\n(지번) 노고산동 109-69\n,카카오
497,497,비아메렝게,비아메렝게,,"멕시칸,브라질",\n서울 서대문구 명물길 27-18 1층\n(지번) 창천동 45-9\n,카카오
498,498,포티드,포티드,,카페,\n서울 서대문구 명물길 36-3 1층\n(지번) 창천동 5-58\n,카카오
499,499,디델리 이대점,디델리,이대점,분식,\n서울 서대문구 이화여대7길 16 2층\n(지번) 대현동 56-68\n,카카오